.hero-block {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://ggsc.s3.amazonaws.com/images/uploads/Forest_in_Japan.jpg);
    background-size: cover;
    background-position: center;
}
.hero-title {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(240, 240, 203);
    border: 2px solid whitesmoke;
    background-color: rgb(172, 228, 68);
    padding: 15px;
    border-radius: 8px;

}
.button {
    color: rgb(172, 228, 68)
    border: rgb(172, 228, 68) solid 1px;
    padding: 5px;
    border-radius: 5px;
    background: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    :hover
}
 .row {
     display: flex;
     justify-content: strech;
     border: 0.01px dotted rgb(1, 110, 1);
    
     text-align: center;
     color:rgb(69, 104, 3);
     border-radius: 7px;
     
     
 }
 .cell-dark {
     background-color: rgb(89, 134, 6);
     color: whitesmoke;
 }