

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin: auto;
    background-color: rgb(226, 194, 194);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
    text-align: center;
    
}
.cell button {
    background-color: blueviolet;
    width: 100%;
    color: whitesmoke;
    border:rgb(226, 194, 194) solid 1px;
    border-radius: 5px;
    
}
input, button {
    font-family: inherit;
    font-size: 100%;

}
.copyright {
    font-size: 10px;
}
.image {
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-image: url(https://ih1.redbubble.net/image.878412358.6417/flat,750x,075,f-pad,750x1000,f8f8f8.u1.jpg);
  background-color: rgb(238, 238, 241); 
  background-position: center center;
    background-size: 100%;
    border:rgb(226, 194, 194) solid 1px;
    border-radius: 15px;
}
.fill {
    border: rgb(226, 194, 194) solid 1px;
    border-radius: 5px;
}